@model FoxRoles.Models.Bookings

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bookings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GymSessionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GymSessionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GymSessionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GymSessionName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
