@model IEnumerable<FoxRoles.Models.GymSessions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
            @if (User.Identity.IsAuthenticated)
                {
                   if (User.IsInRole("Admin"))
                   {
        <p>
                       @Html.ActionLink("Create New", "Create")
        </p>

                   }
                }
        <table class="table">
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.GymSessionName)*@
                    Gym class Name
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.RemainingPlaces)*@
                    Availability
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GymSessionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RemainingPlaces)
                    </td>
                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                        </td>*@
                </tr>
            }

        </table>
